@page "/makelaardatatuin"
@using ApiClient.MarketResearch.Services

@using Models = ApiClient.MarketResearch.Services.Models
@inject IMakelaar _makelaarService

<h1>Makelaar Data</h1>

@if (_makelaars == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Naam</th>
            <th>Aantal</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var makelaar in _makelaars)
        {
            <tr>
                <td>@makelaar.Id</td>
                <td>@makelaar.Naam</td>
                <td>@makelaar.ListedItemsCount</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private Models.Makelaar[] _makelaars;

    protected override void OnInitialized()
    {
        _makelaarService.OnMakelaarDataReceived += (sender, args) =>
        {
            _makelaars = args.MakelaarsData?.ToArray();
            StateHasChanged();
        };
        
        _makelaarService.RequestMakelaarData(25, "type=koop&zo=/amsterdam/tuin");
    }

}